@import '../variables.scss';

.b-book-tile {
  border-radius: 5px;
  width: calc(100% - 20px);
  display: flex;
  margin-top: 10px;
  margin-bottom: 20px;
  padding: 10px;
  box-shadow: 0 2px 5px 2px rgba(0, 0, 0, 0.05);

  .e-tile-cover {
    max-width: 100px;
    margin-right: 20px;
  }

  .e-tile-content {
    display: flex;
    flex-direction: column;
    margin: 20px 0;
  }

  .e-tile-title {
    font-size: 14px;
    font-weight: 700;
  }

  .e-tile-author {
    flex-grow: 1;
    font-size: 13px;
  }

  .e-tile-progress {
    border-radius: 10px;
    background-color: $turquoise;
    height: 5px;
  }
}