@import './variables.scss';

body {
  font-family: 'Quicksand', sans-serif;
  background-color: $turquoise;
}

.b-frame {
  background-color: white;
  display: block;
  width: 320px;
  height: 600px;
  margin: 30px auto;
  border-radius: 30px;
  overflow: hidden;
  box-shadow: 50px 30px 50px 10px rgba(0, 0, 0, 0.1);

  .e-scroll-view {
    overflow: auto;
    height: 100%;
  }
}